{% extends "simple_classifier/base.html" %}
{% block main %}
<h1 id="test">Analys av {{filename}}</h1>
{% for an in analyses %}
<div>
	<h2>{{an.name}}</h2>
	<br />
	{% if an.noise_types is not None %}
	<table>
		<tr>
			<td>
				Störningstyp
			</td>
			{% for noise_type in an.noise_types %}
			<td>
				{{noise_type}}
			</td>
			{% endfor %}
		</tr>
		<tr>
			<td>
				Matchningspoäng
			</td>
			{% for score in an.scores %}
			<td>
				{{score}}
			</td>
			{% endfor %}
		</tr>
	</table>
	<div class="prediction">Slutsats: <strong>{{an.prediction}}</strong></div>
	{% endif %}
	{% if an.error %}
	<br />
	<div class="error" style="color: red; white-space: pre-line; font-family: 'Courier New', Courier, monospace;text-align: left;">{{an.error}}</div>
	{% endif %}
</div>
<br />
{% endfor %}
{% endblock %}