@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');
:root {
	--dark-blue: #40798c;
	--medium-blue: #469db2;
	--light-blue: #4bc1d9;
	--lighter-blue: #51e5ff;
	--alert-red: #e3170a;
}
body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
}
#header {
	background-color: var(--dark-blue);
	color: white;
	padding: 1em;
}
#header strong {
	font-size: 32px;
}
#main {
	text-align: center;
}
#footer {
	float: right;
	font-size: 10px;
	padding: 1em;
	background-color: white;
}
.prediction > strong {
	color: var(--dark-blue);
}
.error {
	color: var(--alert-red);
}